@font-face {
font-family: AkzidBold;
src: url("AkzidGroCFFBol.otf") format("opentype");
}

@font-face {
font-family: DINPro;
src: url("DINPro-Bold.otf") format("opentype");
}


body {
	font-family: DINPro;
	min-width: 800px;
	min-height: 800px;
}

.container {
	margin: 30px 0px 0px 0px;
	width: 100%;
}

.col {
	float: left;
	width: 49%;
	padding: 40px 40px 40px 40px;
}

h1 {
	margin-left: 40px;
}

p {
	margin-left: 40px;
}